<h4>Number of RangeServers <%= @range_servers.length %></h4>

<table border="1"> 
		<tr>
			<th>Sums of All <%= link_to "Range Servers", range_servers_path %></th>
		<% @rs_timestamps.each_with_index do |ts, i| %>
			<th>
				<%= @time_intervals[i].to_s + " minute" + (@time_intervals[i].to_i > 1 ? "s" : "")%>
				<br /><%= (Time.at ts / 10 ** 9).strftime("%Y-%m-%d %H:%M") %>
			</th>
		<% end %>
		</tr>			
		<tr>	
			
		<% sort_data_hash(@rs_system_totals).each do |key, value| %>
			<td><%= RangeServer.pretty_titleize key.to_s.titleize %></td>
				<% value.each do |v| %>
					<td> 
						<%= number_with_delimiter v %>
						<%= RangeServer.get_units(key)%>
					</td>
				<% end %>
		</tr>
		<% end %>	
</table>