<div id="rangeservers">
<h3> Range Servers </h3>
<h4>Number of Range Servers: <%= @rs_records['RangeServerSummary']['servers'].length %></h4>

<table class="ht-table table_nodes">
<colgroup span="4"></colgroup>
<thead class="ht-table-thead">
<tr class="ht-table-subheader">
<th  class="ht-table-subheadercell">RangeServers</th>
<th class="ht-table-subheadercell"> Hostname </th>
<th class="ht-table-subheadercell"> Disk </th>
<th class="ht-table-subheadercell"> Disk Use Pct </th>
<th class="ht-table-subheadercell"> Ram </th>
<th class="ht-table-subheadercell"> Skew </th>
<th class="ht-table-subheadercell"> LastError </th>
<th class="ht-table-subheadercell"> LastContact </th>
</tr>
</thead>
<% @rs_records['RangeServerSummary']['servers'].each do |server|  %>
<% if server['lastError'] != "ok" %>
<tr class="ht-table-firstrow" bgcolor="red">
<% else %>
<tr class="ht-table-firstrow">
<% end %>

<td class="ht-table-cell">
<a href="/graphs?server=<%= server['location'] %>"><%= server['location']+" - "+server['ip'] %></a>
</td>
<td class="ht-table-cell">
<%= server['hostname'] %>
</td>
<td class="ht-table-cell">
<%= server['disk'] %>
</td>
<td class="ht-table-cell">
<%= server['diskUsePct'] %>
</td>
<td class="ht-table-cell">
<%= server['ram'] %>
</td>
<td class="ht-table-cell">
<%= server['skew'] %>
</td>
<td class="ht-table-cell">
<%= server['lastError'] %>
</td>
<td class="ht-table-cell">
<%= server['lastContact'] %>
</td>
</tr>
<% end %>
</table>
</div>