<div id='graphs'>
            <script type='text/javascript'>
               google.load("visualization", "1", {packages:["corechart"]});
              //<![CDATA[
                window.addEvent('domready', function() {
                  var graph = new HTMGraph('graph','RangeServer','b_c_accesses','10', {
                    width: 900,
                    height: 220,
                    gridWidth: 800,
                    gridHeight: 200,
                    shade: false,
                  });

                });
              //]]>
            </script>
            <div id='graph' class='graph'>


            <div class ='chart' id ='chart'>
            </div>
            <div id='graphmemory'>
            </div>

            </div>
</div>

<div id="graphlinks" style="text-align:center">
<h2> Range Server Graph Links </h2>
<% sort_data_hash(@range_servers).each do |server, ip| %>
  <% if server != ip %>
   <p> <a href="/graphs?server=<%= server %>"> <%= server.to_s.upcase %>(ip:<%=ip%>) RRD Graphs </a></p>
  <% else %>
    <p> <a href="/graphs?server=<%= server %>"> <%= server.to_s.upcase %> RRD Graphs </a></p>
  <% end %>
<% end %>
</div>