<table border="1"> 
		<tr>
			<th><%= @table.name %>
				<br />
			</th>
		<% @table.timestamps.each_with_index do |ts, i| %>
			<th>
				<%= @time_intervals[i].to_s + " minute average" %> <br />at <%= (Time.at ts / 10 ** 9).strftime("%T") %>
			</th>
		<% end %>
		</tr>			
		<tr>	
			
		<% @stat_types.each do |stat| %>
			<td>
				<%= Table.pretty_titleize stat %>
			</td>
						
				<% @time_intervals.each_with_index do |interval, index| %>
					<td>
						<%= number_with_delimiter @table.get_value(stat, index, true) %>
					</td>
					
				<% end %>
		</tr>
		<% end %>
</table>